<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/results.css">
    <link rel="stylesheet" type="text/css" href="css/all.css">
     <style>  #main-footer{background-color:#454545; padding-top: 0.5rem; text-align: center }</style>
    <title>deletion</title>  
  </head>
<body>
	<!--UPDATE OUR LOGO  -->
    <div id="logo">
  		<h1>HRDB</h1>
  	</div>	
  	<div id="main-text">
  		<img src="https://cdn0.iconfinder.com/data/icons/harmonicons-02/64/check-circle-512.png" height="100" width="100"/>
  		<h2>Thank you!</h2>
    	<h3>Successful Deletion!</h3>	  
      	<a href="admin/index">
        	<button>Done</button>
      	</a>
	</div>  
	
	<footer id="main-footer" th:replace="fragments/footer ::footer" >
     
                <!-- footer rendered here through thyme leaf -->
                
              </footer>   
</body>
</html>