<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <style> #main-footer{background-color:#454545; padding-top: 0.5rem; text-align: center } </style>
</head>
<body>


<footer id="main-footer">
                <p>Copyright &copy; 2018, HRDB All Rights Reserved</p>
                <div>
                  <a href="#">terms of use</a> | <a href="#">Privacy Policy</a>
                </div>
              </footer>
    
</body>
</html>