<nav th:fragment="navbar" class="navbar">
            <div>
                <ul>
                    <li>
                        <a href="index">Home</a>
                    </li>
                    <li>
                        <a href="allEmployees">List All Employees</a>
                    </li>
                    <li>
                        <a href="newEmployee">New Hire</a>
                    </li>
                    <li>
                        <a href="editEmployee">Edit Profile</a>
                    </li>
                </ul>
            </div>
        </nav>