<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="css/all.css">

	<!-- //for bootstrap working -->
	<style>
	body{
	color:black;
	}
	
	
	</style>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>



<center>
<img alt="calendar" src="calendar.png" style="height:80%; width:80%;">
</center>











<div class="container">
                        
                        <div class="header">
                        <!--<h1>HRDB</h1>-->
                        </div>
                        <center>
                        <h3 style="color:black">Pay Preview:</h3>
                       
                        <p>Today's Date:            
                         
        <script>  
                 test = new Date() 
                
                 month = test.getMonth() 
                
                 month = (month * 1) + 1 
                
                 day = test.getDate() 
                
                 year = test.getFullYear() 
                
                 document.write(" ",month,"/",day,"/",year," ") 
             
        </script> </p> </center>
        
      <script>
        
      calculate = function()
        { 
            var hrsWorked = document.getElementById('hrsWorked').value; 
        
            var wage =  document.getElementById('wage').value;  
        
            document.getElementById('currentPay').value = ('$' + parseInt(hrsWorked)*parseInt(wage)); 
        
        } 
        
     </script>
            <!-- <p><input type="text" id="datepicker"></p>-->
                        <form action="#" th:action="@{/employee/editEmployee}" th:object="${employee}" th:method="put">
                        <input type="hidden" th:field="*{id}" />
                            
                            <div class="form-group">
                            Hours Worked:<input type="text" id="hrsWorked" class="form-control" value=0 placeholder="Hours Worked..." />
                            </div>
            
                            
                            <div class="form-group">
                             Pay Rate:<input type="text"  id="wage" class ="form-control" onblur="calculate()" value=0 placeholder="Wage..." />
                            </div>
                    
                          <!--THIS CURRENT PAYFIELD IS NOT CALCULATING  -->
                             <div class="form-group">
                            Current Pay:<input type="text" id="currentPay" value=0 class ="form-control" placeholder="Current Pay..." />
                            </div> 
                        <!--  <input type="Button" value="calculate" id="calc">-->
                            
                        
                       <!--  <a class= "btn btn-primary" th:href="@{../../index}">Back To Homepage</a> -->
                        </form>
                    </div>
                    
                    
                    <br><br><br>
       				<br><br><br>
                    
                     
                     
                
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>







 
 
 <div th:replace="fragments/footer :: footer"></div>
					<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
					<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
				
</body>
</html>

