<!doctypehtml>
<html xmlns:th="http://www.thymeleaf.org">
<head>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
       <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
	

<div class="container">
<br/>
<br/>
<br/>
<br/>

<center> <b id="login-name">LOGIN</b> </center>
	
	<div class="row">
		
<div class="col-md-6 col-md-offset-3" id="login">  

<form action="#" th:action="@{/login}" th:object="${employee}" method="post">
	
<div class="form-group">
<label class="user">  First Name  </label>
<div class="input-group">
    <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>

<input type="text" class="form-control" id="text1" name="tl" placeholder="Enter Firstname.." th:field="*{firstName}">
</div>
	
</div>

<div class="form-group">
<label class="user"> Password </label>
<div class="input-group">
    <span class="input-group-addon" id="iconn1"> <i class="glyphicon glyphicon-lock"></i></span>
    
<input type="password" class="form-control" id="text2" name="tl" placeholder=" Enter Password" th:field="*{passWord}">
</div>
</div>

<div class="form-group">
        
<input type="submit" class="btn btn-success" th:href="@{index}" style="border-radius:20px;">

</div>
   







</form>





  </div>



	</div>










</div>
    
</body>
</html>