

.header{
	margin-left:auto;
	margin-right:auto;
}


body{
	background-color:#e0e0e0
}


.result{
	text-align: center;
	align-content: center;
	margin-right:auto;
	margin-left:auto;
}


#main-footer{background-color:#454545; margin-bottom: 0.5em; text-align: center } 