body{
	background-image:url(https://i.pinimg.com/originals/80/bf/1c/80bf1c0cd25484fc35a2c7c193f3c608.jpg)
}
#login-name{
font-size: 65px;
font-family: arabic typesetting;
border-bottom-style: ridge;
color:white;

}
#login{
background-color:rgba(13,13,13,0.2);
min-height:500px;
padding: 40px 80px 40px 80px;
box-shadow: -10px -10px 9px #238684;

}
.user{
font-size: 29px;

font-family: arabic typesetting;

color: white;





}

#iconn{

background-color: #238684;
border-color: #238684;
color: white;

}
#iconn1{

background-color: #238684;
border-color: #238684;
color: white;

}

#text1{

	border-radius: 0;
	height: 40px;
}
#text2{

	border-radius: 0;
	height: 40px;
}

.btn{
	width: 100%;
	margin:0 auto;
	height: 40px;
	font-size: 18px;
	background-color:#238684;
	border-color:#238684;
}